* {
    margin: 0;
    
}
    .navbar {
  height: 60px;
  background-color: black;
  color: white;
display: flex;
    }

.image{
  background-image: url(downlaod.jpg);
  background-size: cover;
  height: 60px;
  width: 90px;
}
    
a {
  margin-right: 180px;
font-size: 20px;
color: aliceblue;
display: flex;
justify-content: center;
align-items: center;
}

button {
  background-color: orange;
  color: black;
}
.navbar2 {
  display: flex;
justify-content: center;
align-items: center;
}

